/.bundle/
/app/assets/builds/
/coverage/
/doc/
/log/*.log
/pkg/
/tmp/
/docs/app/assets/builds/
/docs/coverage/
/docs/log/*.log
/docs/storage/
/docs/tmp/
/test/dummy/app/assets/builds/
/test/dummy/log/
/test/dummy/public/assets/
/test/dummy/tmp/
Gemfile.lock
.DS_Store
