@layer components {
  .header {
    @apply flex items-center justify-between px-5 gap-5;
    background: var(--color-bg-dark);
    color: var(--color-text-light);
    height: 50px;
  }

  .header-left {
    @apply flex items-center gap-4;
  }

  .header-logo {
    @apply font-bold text-xl cursor-pointer;
  }

  .header-search {
    @apply px-4 py-1 rounded flex items-center gap-3;
    background: var(--color-bg-overlay);
    min-width: 350px;
  }

  .header-search input {
    @apply bg-transparent border-none outline-none flex-1;
    color: var(--color-text-light);
  }

  .header-search:focus-within {
    box-shadow: 0 0 0 2px var(--color-dark-secondary);
  }

  .header-right {
    @apply flex items-center gap-4 text-sm;
  }

  .header-text {
    color: var(--color-dark-secondary);
    opacity: 0.7;
  }
}
