@import "tailwindcss";

@import "./common.css";
@import "./theme.css";

@import "./layout.css";
@import "./sidebar.css";
@import "./search.css";

@import "./buttons.css";
@import "./fonts.css";
@import "./typography.css";

@import "./collapsible.css";
