<%= component_tag class: "subheader" do %>
  <div class="subheader-left">
    <%= sidebar_toggle_button %>

    <% if breadcrumbs.any? %>
      <div class="subheader-breadcrumbs">
        <%= breadcrumbs %>
      </div>
    <% end %>
  </div>
  <div class="subheader-right">
    <%= buttons %>
  </div>
<% end %>
