<%= component_tag :div, class: "subheader" do %>
  <div class="subheader-left">
    <%= render sidebar_toggle_button %>

    <% if breadcrumbs.any? %>
      <div class="subheader-breadcrumbs">
        <%= render breadcrumbs %>
      </div>
    <% end %>
  </div>
  <div class="subheader-right">
    <%= render buttons %>
  </div>
<% end %>
