<%= component_tag :aside, data: { sidebar_target: "container" } do %>
  <div class="sidebar-content">
    <% if title || close_button %>
      <div class="sidebar-header">
        <h2 class="sidebar-title"><%= title %></h2>

        <%= render close_button %>
      </div>
    <% end %>

    <%= render contents %>
  </div>
<% end %>
