<%= component_tag data: { controller: "dropdown" } do %>
  <%= render button %>

  <div class="dropdown-menu" data-dropdown-target="menu" data-action="click->dropdown#close">
    <%= render menu %>
  </div>
<% end %>
