@layer components {
  /* Naked Button */
  .btn-naked:hover {
    color: var(--color-btn-primary-outline-text);
    background: var(--color-btn-primary-outline-bg);
    border-color: var(--color-btn-primary-outline-border);
  }

  /* Naked Dropdown */
  .dropdown-naked .dropdown-menu {
    background-color: var(--color-core-bg);
    border-color: var(--color-core-border);
  }

  .dropdown-naked .dropdown-header {
    color: var(--color-core-text);
  }

  .dropdown-naked .dropdown-menu-item {
    color: var(--color-core-text);
  }

  .dropdown-naked .dropdown-menu-item:hover {
    background-color: var(--color-btn-primary-outline-bg-hover);
    color: var(--color-btn-primary-outline-text-hover);
  }

  .dropdown-naked .dropdown-divider {
    color: var(--color-btn-primary-outline-border);
  }
}
