@layer components {
  /* Outline Warning Button */
  .btn-outline-warning {
    background-color: var(--color-btn-warning-outline-bg);
    color: var(--color-btn-warning-outline-text);
    border-color: var(--color-btn-warning-outline-border);
  }

  .btn-outline-warning:hover:not(:disabled) {
    background-color: var(--color-btn-warning-outline-bg-hover);
    color: var(--color-btn-warning-outline-text-hover);
    border-color: var(--color-btn-warning-outline-border-hover);
  }

  .btn-outline-warning:active:not(:disabled) {
    background-color: var(--color-btn-warning-outline-bg-hover);
    color: var(--color-btn-warning-outline-text-hover);
    border-color: var(--color-btn-warning-outline-border-hover);
  }

  /* Outline Warning Dropdown */
  .dropdown-outline-warning .dropdown-menu {
    background-color: var(--color-btn-warning-outline-bg);
    border-color: var(--color-btn-warning-outline-border);
  }

  .dropdown-outline-warning .dropdown-header {
    color: var(--color-btn-warning-outline-text);
  }

  .dropdown-outline-warning .dropdown-menu-item {
    color: var(--color-btn-warning-outline-text);
  }

  .dropdown-outline-warning .dropdown-menu-item:hover {
    background-color: var(--color-btn-warning-outline-bg-hover);
    color: var(--color-btn-warning-outline-text-hover);
  }

  .dropdown-outline-warning .dropdown-divider {
    color: var(--color-btn-warning-outline-border);
  }
}
