@layer components {
  /* Outline Danger Button */
  .btn-outline-danger {
    background-color: var(--color-btn-danger-outline-bg);
    color: var(--color-btn-danger-outline-text);
    border-color: var(--color-btn-danger-outline-border);
  }

  .btn-outline-danger:hover:not(:disabled) {
    background-color: var(--color-btn-danger-outline-bg-hover);
    color: var(--color-btn-danger-outline-text-hover);
    border-color: var(--color-btn-danger-outline-border-hover);
  }

  .btn-outline-danger:active:not(:disabled) {
    background-color: var(--color-btn-danger-outline-bg-hover);
    color: var(--color-btn-danger-outline-text-hover);
    border-color: var(--color-btn-danger-outline-border-hover);
  }

  /* Outline Danger Dropdown */
  .dropdown-outline-danger .dropdown-menu {
    background-color: var(--color-btn-danger-outline-bg);
    border-color: var(--color-btn-danger-outline-border);
  }

  .dropdown-outline-danger .dropdown-header {
    color: var(--color-btn-danger-outline-text);
  }

  .dropdown-outline-danger .dropdown-menu-item {
    color: var(--color-btn-danger-outline-text);
  }

  .dropdown-outline-danger .dropdown-menu-item:hover {
    background-color: var(--color-btn-danger-outline-bg-hover);
    color: var(--color-btn-danger-outline-text-hover);
  }

  .dropdown-outline-danger .dropdown-divider {
    color: var(--color-btn-danger-outline-border);
  }
}
