@layer components {
  /* Outline Success Button */
  .btn-outline-success {
    background-color: var(--color-btn-success-outline-bg);
    color: var(--color-btn-success-outline-text);
    border-color: var(--color-btn-success-outline-border);
  }

  .btn-outline-success:hover:not(:disabled) {
    background-color: var(--color-btn-success-outline-bg-hover);
    color: var(--color-btn-success-outline-text-hover);
    border-color: var(--color-btn-success-outline-border-hover);
  }

  .btn-outline-success:active:not(:disabled) {
    background-color: var(--color-btn-success-outline-bg-hover);
    color: var(--color-btn-success-outline-text-hover);
    border-color: var(--color-btn-success-outline-border-hover);
  }

  /* Outline Success Dropdown */
  .dropdown-outline-success .dropdown-menu {
    background-color: var(--color-btn-success-outline-bg);
    border-color: var(--color-btn-success-outline-border);
  }

  .dropdown-outline-success .dropdown-header {
    color: var(--color-btn-success-outline-text);
  }

  .dropdown-outline-success .dropdown-menu-item {
    color: var(--color-btn-success-outline-text);
  }

  .dropdown-outline-success .dropdown-menu-item:hover {
    background-color: var(--color-btn-success-outline-bg-hover);
    color: var(--color-btn-success-outline-text-hover);
  }

  .dropdown-outline-success .dropdown-divider {
    color: var(--color-btn-success-outline-border);
  }
}
