@layer components {
  /* Outline Primary Button */
  .btn-outline-primary {
    background-color: var(--color-btn-primary-outline-bg);
    color: var(--color-btn-primary-outline-text);
    border-color: var(--color-btn-primary-outline-border);
  }

  .btn-outline-primary:hover:not(:disabled) {
    background-color: var(--color-btn-primary-outline-bg-hover);
    color: var(--color-btn-primary-outline-text-hover);
    border-color: var(--color-btn-primary-outline-border-hover);
  }

  .btn-outline-primary:active:not(:disabled) {
    background-color: var(--color-btn-primary-outline-bg-hover);
    color: var(--color-btn-primary-outline-text-hover);
    border-color: var(--color-btn-primary-outline-border-hover);
  }

  /* Outline Primary Dropdown */
  .dropdown-outline-primary .dropdown-menu {
    background-color: var(--color-btn-primary-outline-bg);
    border-color: var(--color-btn-primary-outline-border);
  }

  .dropdown-outline-primary .dropdown-header {
    color: var(--color-btn-primary-outline-text);
  }

  .dropdown-outline-primary .dropdown-menu-item {
    color: var(--color-btn-primary-outline-text);
  }

  .dropdown-outline-primary .dropdown-menu-item:hover {
    background-color: var(--color-btn-primary-outline-bg-hover);
    color: var(--color-btn-primary-outline-text-hover);
  }

  .dropdown-outline-primary .dropdown-divider {
    color: var(--color-btn-primary-outline-border);
  }
}
