<!DOCTYPE html>
<html>
  <head>
    <title>RapidUI Layout</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
  </head>

  <body>
    <h1>RapidUI Layout</h1>
    <div class="rapid-ui-content">
      <%= yield %>
    </div>
  </body>
</html>
