<%# HACK: we need to render the contents to get the active links %>
<% rendered_contents = render(contents) %>

<%= component_tag :div, data: { controller: "expandable", expandable_hidden_class: "collapsed" } do %>
  <%= render button %>

  <div class="sidebar-section-content">
    <%= rendered_contents %>
  </div>
<% end %>
