@layer components {
  .badge {
    @apply inline-block font-semibold rounded px-2 py-0.5;
  }

  .badge-primary {
    color: var(--color-btn-primary-text);
    background-color: var(--color-btn-primary-bg);
  }

  .badge-secondary {
    color: var(--color-btn-secondary-text);
    background-color: var(--color-btn-secondary-bg);
  }

  .badge-success {
    color: var(--color-btn-success-text);
    background-color: var(--color-btn-success-bg);
  }

  .badge-danger {
    color: var(--color-btn-danger-text);
    background-color: var(--color-btn-danger-bg);
  }

  .badge-warning {
    color: var(--color-btn-warning-text);
    background-color: var(--color-btn-warning-bg);
  }

  .badge-info {
    color: var(--color-btn-info-text);
    background-color: var(--color-btn-info-bg);
  }

  .badge-pill {
    padding-right: 0.6em;
    padding-left: 0.6em;
    border-radius: 10rem;
  }
}
